@charset "UTF-8";

Body{ 
background-color: #B76F2D;
color: #090088;}

.meadow-background {
	background-image: url("../images/background.jpg");
	background-blend-mode: soft-light;}

.my-navbar {
	background-color: #B76F2D;}

.card-body {
	background-color: #1C27C6;}

.card-text {
	color: #FFFFFF; }

.card-title {
	color: #FFFFFF; }


